@using GestionTareasApp.Models;
@model List<Tarea>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    $(document).ready(function () {
        $(".btnEliminar").click(function () {
            var objectId = $(this).data("id");
            $.ajax({
                url: '@Url.Action("EliminarTarea")',
                type: "POST",
                data: { id: objectId },
                success: function () {
                    // Actualizar la vista o realizar otras acciones si es necesario
                    location.reload();
                },
                error: function () {
                    alert("Error al eliminar el objeto.");
                }
            });
        });
    });
</script>

<script>
    $(document).ready(function () {
        $(".btnCompletar").click(function () {
            var objectId = $(this).data("id");
            $.ajax({
                url: '@Url.Action("CompletarTarea")',
                type: "POST",
                data: { id: objectId },
                success: function () {
                    // Actualizar la vista o realizar otras acciones si es necesario
                    location.reload();
                },
                error: function () {
                    alert("Error al completar la tarea");
                }
            });
        });
    });
</script>

<h1>Listado de tareas:</h1>
<form method="post">
    <ol class="list-group list-group-numbered">
        @foreach (var tarea in Model)
        {
            <li  class="list-group-item d-flex justify-content-between align-items-start">@tarea.Titulo 
                <button class="btnEliminar btn btn-danger" data-id="@tarea.IdTarea">Eliminar tarea</button>
                <button class="btnCompletar btn btn-success" data-id="@tarea.IdTarea">Marcar como completada</button>
             </li> 
        }
    </ol>
</form>
<br/>
<div>
    <form asp-action="Crear" method="get" >
        <button type="submit" class="btn btn-primary">Crear Nueva Tarea</button>
    </form>   
</div>

